<mat-toolbar color="primary">
  <span><a routerLink="/">My Messages</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="isAuthenticated">
      <a routerLink="/create" mat-button routerLinkActive="mat-accent"
        >Create Post</a
      >
    </li>
    <li>
      <a routerLink="/auth/login" mat-button routerLinkActive="mat-accent" *ngIf="!isAuthenticated">Login</a>
    </li>
    <li>
      <a routerLink="/auth/signup" mat-button routerLinkActive="mat-accent" *ngIf="!isAuthenticated">Sign up</a>
    </li>
    <li>
      <a mat-button *ngIf="isAuthenticated" (click)='logout()'>Logout</a>
    </li>
  </ul>
</mat-toolbar>
